/* Estilo Responsivo (MOBILE) */

@media screen and (min-width: 320px) and (max-width: 480px){
    .menu-mobile{
        display: flex;
    }

    nav ul li{
      display: none;
    }

    .imagem-perfil{
        height: 200px;
        margin-top: 20px;
    }

    .resumo{
        margin-top: 20px;
    }

    .container-perfil{
        flex-direction: column;
    }

    h1{
        font-size: 25px;
    }

    h4{
        font-size: 20px;
    }

    .btn{
        height: 50px;
        width: 250px;
    }
    .container-projetos{
        flex-wrap: wrap;
    }

    .container-projeto-content img{
        width: 250px;
    }
        
    .bio{
        width: 90%;
    }
    
    .txt{
        color: rgba(0, 0, 0, 0.557);
        font-size: 25px;
    }

    .logo-whatsapp{
        display: flex;
    }

    #container-form-bg #form{
        width: 370px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {  
    .imagem-perfil{
        height: 250px;
    }

    h1{
        font-size: 20px;
    }

    h4{
        font-size: 25px;
    }

    .btn{
        width: 250px;
    }

    .txt{
        font-size: 30px;
    }

    .container-projeto-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* @media screen and (min-width:769px) and (max-width: 1200px) { 



}

@media screen and (min-width:1700px) {  



} */