/* Estilo Responsivo (MOBILE) */

@media screen and (min-width: 320px) and (max-width: 480px){
    .menu-mobile{
        display: flex;
    }
  
    nav ul li{
      display: none;
    }

    .imagem-perfil{
        height: 250px;
    }

    .resumo{
        padding-right: 40px;
    }

    h1{
        font-size: 15px;
    }

    h4{
        font-size: 17px;
    }

    .btn{
        height: 40px;
        width: 170px;
    }
    .container-projetos{
        flex-wrap: wrap;
    }

    
    .bio{
        width: 90%;
    }
    
    .txt{
        color: rgba(0, 0, 0, 0.557);
    }
    
}